<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='assignment.css'}"/>
<div class="authoringNote" data-sly-test="${wcmmode.edit}">
    News is ready for authoring
</div>
<div class="news" data-sly-test="${properties.newsTitle && properties.newsShortDescription}">
    <div class="newsTitle">
        <p>${properties.newsTitle}</p>
    </div>
    <div class="newsShortDescription">
        <p>${properties.newsShortDescription @context='html'}</p>
    </div>
    <div>
        <img data-sly-resource="${'content' @ resourceType='/apps/assignment/components/content/image'}"/>
    </div>
</div>
